<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oliveira Motos &#128640;</title>
    <link rel="stylesheet" type="text/css" href="../../estilo/estilo.css"/>
</head>
<body class="home">
    
    <header id="cabecalho">
    <nav id = menu>
    <ul type = 1>
     <li><a href="index.html">HOME</a></li>
     <li><a href="login.html">Login/Cadastro</a></li>
     <li><a href="quem somos.html">Quem Somos</a></li>
     <li><a href="https://www.instagram.com/bolinho_adesivos/" target="_blank">Adesivos</a></li>
     <li><a href="{% url 'listar_passeios' %}">Econtros</a></li>
     <li><a href="preparacao.html">Calculadora de Transmissão</a></li>
    </ul>
    </nav>
   
    <h1> Bem Vindo ao Oliveira Motos! &#128640;</h1>
    <p>Aqui Você Encontrará Tudo o que Precisa no Mundo Do Motociclismo.</p>

    </header>

   
</body>
</html>