{% extends 'pagina_secundaria.html' %}
{% block content %}
{% load static %}
<header id="cabecalho">
         <h1>Quem Somos?</h1>
<div>
        <p>Somos um grupo movido pela paixão pelo motociclismo! 
        E foi essa paixão que nos levou a fechar várias parcerias iradas, reunindo tudo em um só lugar pra você!&#128640;
        </p>
</div>
        
</header>
<div class="imagens_quem_somos">
        <img src="{% static 'imagem/JetMotos.jpg' %}" width="100"/>
        <img src="{% static 'imagem/Pirelli.png' %}" width="100"/>
        <img src="{% static 'imagem/Bolinho Adesivos.jpg' %}" width="200"/>
        <img src=" {% static 'imagem/Motobras.png' %}" width="100">
</div>
{% endblock %}