
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oliveira Motos &#128640;</title>
{% load static %}
{% load django_bootstrap5 %}
{% bootstrap_css %} 
<link rel="stylesheet" href="{% static 'estilo/estilo.css' %}">
</head>

<body class="calculadora">
    <div class="container">
      {% include 'menu_principal.html' %}
      {% block content %}
      {% endblock %}
    </div>
</body>
{% bootstrap_javascript %}
</html>