{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<link rel="stylesheet" href="{% static 'estilo/estilo.css' %}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Incluir Passeio</title>
</head>
  
<body class="passeio">
    
    <form method="post" class = "agendar">
        {{ formulario }}
        {% csrf_token %}
        <input type="submit" value="Gravar" />
        <input type="reset" value="Limpar" />
    </form>
{% include 'btn_pagina_inicial.html' %}
</body>
</html>