{% extends 'pagina_secundaria.html' %}
{% block content %}
    <header id="cabecalho">
    <h1>Agendamento de Econtros</h1>
    </header>
    <div>
    <table class="tabela-passeio">
    <thead>
    
    
           <tr>
                <td>Data do Passeio</td>
                <td>Destino</td>
                <td>Horario de Partida</td>
                <td>Local de Partida</td>
                <td>Nome do Oganizador</td>
                <td>Telefone</td>
                <td>Grupo do Whatsapp</td>
                <td>Ações</td>
           </tr>
    
    </thead>
    <tbody>
        {% for l in passeios %}
        <tr>
            <td>{{ l.DataPasseio|date:"d/m/Y" }}</td>
            <td>{{l.destino}}</td>
            <td>{{l.horarioPartida}}</td>
            <td>{{l.localPartida}}</td>
            <td>{{l.nome}}</td>
            <td>{{l.telefone}}</td>
            <td>{{l.grupoWhats}}</td>
            <td><a href="{% url 'alterar_passeio' l.id %}" class="btn btn-primary" >Alterar</a>
                <a href="{% url 'excluir_passeio' l.id %} " onclick='return excluir()' class="btn btn-secondary" >Excluir</a>
            </td>
        
        </tr>
        {% endfor %}
    </tbody>
    </table>
    </div>
    <div>
<a href="{% url 'incluir_passeios' %}" class="agendar">Agendar Passeio</a>
    </div>
<script>
    function excluir(){
        return confirm("Deseja Excluir?");
    }
</script>
{% endblock %}