@charset "UTF-8";
body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(45deg,rgb(4, 4, 53),rgb(146, 0, 0));
}
.caixa-login{ 
     background-color: rgba(255, 255, 255, 0.5);
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%,-50%);
     padding: 80px;
     border-radius: 15px;
     border: solid black;
}
h1{
    color: #fff;
    box-shadow: black;
}
input{
    padding: 15px;
    border: none;
    outline: none;
    font-size: 20px;
    border-radius: 10px;
}
button{
    background-color: rgb(33, 65, 245);
    padding: 10px;
    width: 100%;
    color: wheat;
    border-radius: 10px;
}
button:hover{
    background-color: deepskyblue;
}

p{
    position: absolute;
    padding: 7px;
    left: 40%;

}
a.voltar{
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(9, 65, 139);
    padding: 10px;
    color: #dedddd;
    box-shadow: 2px 2px 2px black;
    border: solid black;
    transition: 1s;
    text-decoration: none;
    border-radius: 8px;
    margin-left: 10px;
}
a.voltar:hover{
    background-color:aqua;
    transform: scale(1.1);
    transition: 1s;
}
    

p.cadastro{
    color: black;
}
p.cadastro:hover{
    color:  rgb(33, 65, 245);
    background-color: rgba(f,f,f,0.5);
}

/* Formatação do Menu de Navegação */

nav#menu {
    display: block;
    margin-top: 30px;
}
nav#menu ul {
    list-style: none;
    text-transform: uppercase;
    position: absolute;
    top: -15px;
    left:40px;
    
}
.navbar-expand-lg {
    display: inline-block;
    background-color: rgb(9, 65, 139);
    padding: 20px;
    margin: 0px;
    transition: 1s;
    border: none;
    box-shadow: none;
    border-radius: 8px;
    width: 100%;
}

.navbar-expand-lg h1 {
    display: none;
}
.navbar-expand-lg a {
    color: rgb(251, 246, 246);
    text-decoration: none;
    padding: 15px;
}
.navbar-expand-lg a:hover{
    color: rgb(196, 119, 4);
    text-decoration: none;
}

header#cabecalho {
    border-bottom: 5px gray solid;
    height: 70px;
}

